# Ejercícios Básicos de Tuplas

-----------------

## (0) BMI again

Vuelve a crear la función `bmi`, pero ahora debe de devolver una `tuple[float, str]` con el índice y su clasificación. Recuerda la fórmula, usando Kg para el peso y m para la altura:

$$bmi = \frac{peso}{altura^{2}}$$

y usa esta clasificación. 


* "Delgado"  : bmi < 18.5 
* "Saludable": 18.5 < bmi < 24.9
* "Gordito"  : 25 a 29.9
* "Gordo"    : 30 a 34.9
* "Obeso"    : 35 a 39.9
* "Jabba the Hutt" : más de 40


Recuerda qu ehay dos problemas, obtener el índice y luego la clasificación. Usa Divide & Vencerás.

In [4]:
def bmi_calculator(height, weight):
    bmi = weight/(height**2)
    
    if bmi< 0:
        calify = "ERROR"
    elif  bmi < 18.5:
        calify = "Delgado"  
    elif  bmi < 24.9:
        calify = "Saludable"
    elif  bmi < 29.9:
        calify = "Gordito"
    elif  bmi <  34.9:
        calify = "Gordo" 
    elif  bmi <  39.9:
        calify = "Obeso"
    else:
        calify = "Jabba the Hutt"
    return bmi, calify

In [8]:
bmi_calculator(1.50, 160)

(71.11111111111111, 'Jabba the Hutt')

## (1) Una tupla para representar un empleado

Usa una tupla para representar un empleado. Necesitas la siguiente información:

* Nombre
* Apellidos
* Departamento (Ventas, Administración, etc...)
* Nómina


1. ¿Cual debería de ser el tamaño y el tipo de esa tupla? Define su tipo
2. Crea la función `make_employee`  que recibe esa información mediante parametros y devuelve la tupla.
3. Usa el desempaquetado para obtener después de llamarla:
   1. La tupla completa
   2. El nombre y el apellido
   3. Sólo la nómina

In [19]:
from collections import namedtuple
def make_employee(name,surname,departament,salary):
    Empleado = namedtuple('Empleado', 'Nombre Apellido Departamento Salario')
    new_employed = Empleado(name, surname,departament,salary)
    pepe= Empleado('pepe', 'rodriguez','marquetin',123123 )
    return new_employed

In [ ]:
def make_employeezero(name,surname,departament,salary):
    
    new_employed = (name, surname,departament,salary)
    return new_employed

In [14]:

paco =make_employee('Paco', 'Lopez', 'Almacen', 12000)
andres =make_employee('Andres', 'Marquez', 'Administració', 16000)

## (3) Igualdad

Comprueba si Python te permite comparar directamente mediante `==`  dos tuplas para saber si son iguales o no. Prueba con datos que sabes que son iguales y datos que sabes que son distintos.

In [16]:
def are_equal_tuples(tupla1, tupla2):
    return tupla1 == tupla2

In [18]:
are_equal_tuples(paco, andres)

False

## (4) Sets & Tuplas

Comprueba si puedes usar tuplas como elementos de un `set` y si puedes averiguar si una tupla está o no en un set.

In [23]:
newset = set()
def set_of_tuples(tupleset, tupla):
    tupleset.add(tupla)
    return tupleset

In [24]:
print(newset)
newset = set_of_tuples(newset, paco)
newset = set_of_tuples(newset, andres)
print(newset)

set()
{Empleado(Nombre='Andres', Apellido='Marquez', Departamento='Administració', Salario=16000), Empleado(Nombre='Paco', Apellido='Lopez', Departamento='Almacen', Salario=12000)}

## (5) `copy_employee`

Estás creando un sistema de gestión de recursos humanos utilizando la tupla `Employee` ya mencionada. Con frecuencia necesitas crear un nuevo empleado muy parecido a uno existente.
Por ejemplo, todos los empleados de ventas empiezan con el mismo sueldo básico y en el mismo departamento (ventas). 

Estás ya harto de tener que llamara a `make_employee`. Quieres algo mejor, alque que pueda crear un `Employee`, no a partir de la nada, sino a partir de uno existente, usándolo como patrón
cambiando sólo aquello que haga falta.

Algo así:

```Python
vader = make_employee("Anakin", "Skywalker", "Management", 60000) # un empleado
luke = copy_employee(name="Luke", department="Sales") # nuevo empleado con dos datos diferentes: lo demás se aprovecha
```

La firma de tu función es la siguiente. Rellena lo qu efalta y comprueba que funciona.

In [32]:
Employee = tuple[str, str, str, float] # name, surname, department, salary
OptionalString = str | None
OptionalFloat = float | None

def copy_employee(employee: Employee, 
                    name: OptionalString = None, 
                    surname: OptionalString = None, 
                    department: OptionalString = None, 
                    salary: OptionalFloat = None)-> Employee:
    """
    Crea un empleado a partir de otro
    Recibe un empleado y opcionalmente nuevos valores. Si alguno de los valores es distinto de None, se usa dicho valor 
    para el nueuvo empleado que se va a crear. Sino, se usa el valor del empleado patrón que se recibe.
    """
   
    employeennew = namedtuple('Empleado', 'Nombre Apellido Departamento Salario')
    
    old_name,old_surname,old_department,old_salary = employee
    if name == None:
        new_name = old_name
    else:
        new_name = name
    if surname == None:
        new_surname = old_surname
    else:
        new_surname = surname
    
    if department == None:
        new_department = old_department
    else:
        new_department = department
    if salary == None:
        new_salary= old_salary
    else:
        new_salary = salary
    new_employed = employeennew(new_name,new_surname,new_department,new_salary)
    return new_employed

In [ ]:
Employee = tuple[str, str, str, float] # name, surname, department, salary
OptionalString = str | None
OptionalFloat = float | None

def copy_employee2(employee: Employee, 
                    name: OptionalString = None, 
                    surname: OptionalString = None, 
                    department: OptionalString = None, 
                    salary: OptionalFloat = None)-> Employee:
    """
    Crea un empleado a partir de otro
    Recibe un empleado y opcionalmente nuevos valores. Si alguno de los valores es distinto de None, se usa dicho valor 
    para el nueuvo empleado que se va a crear. Sino, se usa el valor del empleado patrón que se recibe.
    """
   
    employeennew = namedtuple('Empleado', 'Nombre Apellido Departamento Salario')
    
    new_name,new_surname,new_department,new_salary = employee
    if name != None:
        new_name = name
    if surname != None:
        new_surname = surname
    if department != None:
        new_department = department
    if salary != None:
        new_salary= salary
    new_employed = employeennew(new_name,new_surname,new_department,new_salary)
    return new_employed

In [33]:
copy_employee( employee = paco, name ='juan'  , salary = 16000)

Empleado(Nombre='juan', Apellido='Lopez', Departamento='Almacen', Salario=16000)